<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
    <link rel="stylesheet" href="/style/showEjsTest.css">
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <button>Show</button>
    </header>
    <main>
        <div class="serach-head">
            <h3>Search Result</h3>
        </div>
        </div>
            <div class="container">
                <img src="<%=data.imge_url %>" alt="">
                <h5><%= data.title %></h5>
                <h6><%= data.author %></h6>
                <p><%= data.description %></p>
            </div>
    </main>
    <footer>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </footer>
</body>

</html>